<form  id="add-to-do-form">
    <label for="title">TITLE</label>
    <input type="text" id = "title"> 

    <label for="description">DESCRIPTION</label>
    <input type="text" id = "description">  

    <label for="deadline">DEADLINE</label>
    <input type="date" id = "deadline">

    <label for="category">CATEGORY</label>
    <select name="category" id="category">
        <option value="1">Fun</option>
        <option value="2">Work</option>
        <option value="3">Study</option>
    </select>

    <button type="button">ADD TO DO</button>
</form>

