<form id="add-to-do-form" #f="ngForm" (ngSubmit)="sendForm(f)">
    <div> 
        <label for="title">TITLE</label>
        <input type="text" id = "title" name="title" [(ngModel)]="todo.title"> 
    </div>
    <div> 
        <label for="description">DESCRIPTION</label>
        <input type="text" id = "description" name="description" [(ngModel)]="todo.description"> 
    </div>
    <div>
        <label for="deadline">DEADLINE</label>
        <input type="date" id = "deadline" name="deadline" [(ngModel)]="todo.deadline">
    </div>
    <div>
        <label for="category">CATEGORY</label>
        <select name="category" id="category" [(ngModel)]="todo.categoryId">
            <option value="1">Fun</option>
            <option value="2">Work</option>
            <option value="3">Study</option> 
        </select>
    </div>  
    <button>ADD TO DO</button> 
</form>

